.rushana-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.rushana-modal-content {
  margin: 15px;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 550px;
  text-align: center;
  position: relative;
  max-height: 400px;
  height: 250px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.rushana-search-bar {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.rushana-search-bar input {
  border: 2px solid black;
  height: 30px;
  border-radius: 5px;
}

.rushana-modal-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  overflow-y: auto;
  max-height: 200px;
  padding-right: 10px;
}

.rushana-search-bar h3 {
  color: gray;
}

.rushana-currency-option {
  background-color: white;
  border: 1.2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.rushana-currency-option:hover {
  background-color: #ddd;
}

.rushana-select-button {
  font-weight: bold;
  background-color: white;
  color: #007bff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* .rushana-select-button:hover {
  border: 1px solid #0056b3;
} */

.rushana-component {
  display: flex;
  width: 100%;
  justify-content: center;
}

.rushana-currencyInput {
  background-color: #007bff;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.rushana-input {
  border: none;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  background-color: #007bff;
}

.rushana-currencyInput {
  width: 80vw;
  color: white;
  background-color: #007bff;
}

.rushana-conversionMain {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* max-width: 800px; */
  width: 100%;
  max-height: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
